.editTeacherContainer {
  width: 100%;
  max-width: 37.5rem;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 4rem;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 5% 0.875rem 5%;
  border-bottom: 1px solid #e0e0e0;
  background-color: var(--color-white);
  z-index: 3;
}
.backArrow {
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.heading {
  margin-left: 1rem;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-charcoal);
}
.saveBtn {
  margin-left: auto;
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: 700;
  color: #2e5980;
  cursor: pointer;
}
.currentStatus_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5%;
}
.currentStatus {
  margin-top: -5px;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-black);
}

/* Toggle Button Starts here */
.checkbox .switch {
  display: inline-block;
  height: 22px;
  position: relative;
  width: 42px;
}
.checkbox .switch input {
  display: none;
}
.checkbox .slider {
  background-color: #c8c8c8;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.3s;
}
.checkbox .slider:before {
  background-color: var(--color-white);
  bottom: 2px;
  content: "";
  height: 18px;
  left: 2px;
  position: absolute;
  transition: 0.3s;
  width: 18px;
}
.checkbox input:checked + .slider {
  background-color: #35c658;
}
.checkbox input:checked + .slider:before {
  transform: translateX(20px);
}
.checkbox .slider.round {
  border-radius: 25px;
}
.checkbox .slider.round:before {
  border-radius: 50%;
}
/* Toggle Button ends here */

.itemLabel_wrapper {
  width: 100%;
  text-align: center;
  background: #f2f3f5;
  box-shadow: 0px 0px 4px 0px #0b224440;
  padding: 0.45rem 0;
}
.counter_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.875rem;
  padding: 1.65rem 0;
  border-bottom: 1px solid #e0e0e0;
}
.counter_container:last-child {
  border: none;
}

.counter_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 9.5rem;
}
.itemLabel {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-dim-grey);
}
.count {
  font-size: 21px;
  font-weight: 500;
  color: var(--color-charcoal);
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 5% 2rem 5%;
}
.label {
  margin-top: 1.875rem;
  margin-bottom: 0.125rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--color-charcoal);
}
.input {
  width: 100%;
  padding: 0 1rem;
  height: 2.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  border: 1px solid #bec7ce;
  color: var(--color-charcoal);
  border-radius: 4px;
  outline: none;
}
.errorInput {
  border: 1px solid #b10000;
}
.input::placeholder {
  color: #555555;
}
.input:focus {
  border-color: var(--color-charcoal);
}
.warning_text {
  margin: 0.25rem 0 0 1rem;
  font-size: 12px;
  font-weight: 400;
  color: #b10000;
}
.halfInput {
  width: 50%;
}
.secondLabel {
  margin-top: 3px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--color-dim-grey);
}
.subjects_wrapper {
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.45rem;
}
.checkboxInput {
  display: none;
}
.checkboxLabel {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-charcoal);
  background: #e0e0e0;
  padding: 6px 16px;
  border-radius: 50px;
  user-select: none;
  cursor: pointer;
}
.checkboxInput:checked + .checkboxLabel {
  background: #2e5980;
  color: var(--color-white);
}
.multilineInput {
  height: auto;
  padding: 1rem;
}
.inputs_wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 0.875rem;
}
.selector {
  width: 65%;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 1rem;
  padding-left: 1rem;
  cursor: pointer;
  background-image: url("../../assets/arrow_drop_down.svg");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 7px;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-charcoal);
}
.selector option {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-charcoal);
}
.edit_remuneration_btn {
  margin-top: 2rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #2e5980;
  background-color: transparent;
  border: none;
}
.edit_remuneration_btn img {
  width: 28px;
  height: auto;
}
