.countButton {
  width: 40px;
  height: 40px;
  background: var(--color-white);
  border-radius: 50%;
  box-shadow: 0px 2px 8px 0px #00000040;
  cursor: pointer;
  display: grid;
  place-items: center;
  border: none;
}
.countButton img {
  width: 14px;
  height: auto;
}
