.resetPasswordContainer {
  width: 100%;
  max-width: 37.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content_wrapper {
  width: 100%;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading {
  margin-top: 1rem;
  font-size: 1.3125rem;
  font-weight: 500;
  color: var(--color-charcoal);
}
.para {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--color-dim-grey);
  line-height: 18px;
}
.para span {
  color: var(--color-charcoal);
}
.label {
  margin-top: 1rem;
  margin-bottom: 0.125rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--color-charcoal);
}
.picode_label {
  margin-top: 1.5rem;
  margin-bottom: 0.85rem;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-dim-grey);
}
.input {
  width: 100%;
  padding: 0 1rem;
  height: 2.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  border: 1px solid #bec7ce;
  color: var(--color-charcoal);
  border-radius: 4px;
  outline: none;
}
.errorInput {
  border: 1px solid #b10000;
}
.input::placeholder {
  color: #555555;
}
.input:focus {
  border-color: var(--color-charcoal);
}
.button_wrapper {
  margin-top: 2rem;
  width: 100%;
}
.errorText_wrapper {
  padding-left: 1rem;
  width: 100%;
  height: 1rem;
}
.errorText {
  font-size: 0.75rem;
  color: #b10000;
  font-weight: 400;
}
